<nav class = "head">
  <div class="site-title">
    <a href="/"><h1>Class Manager</h1></a>
  </div>
  <ul>
    <li><a href="/">Classes</a></li>
    <li><a href="/create">Add Class</a></li>
  </ul>
</nav>